@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");

body {
  background-color: #000000de;
  color: #fff;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 20px;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container div {
  width: 100px;
  height: 100px;
  display: flex;
  margin: 0 2rem;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: yellowgreen;
  border: 2px solid lightgreen;
}

#translate1 {
  transform: translate(200px, 180px);
}

#translate2 {
  transform: translate(400px, -50px);
}

#translate3 {
  transform: translate(400px, 50px);
}

#translate4 {
  transform: translateX(800px) translateY(-200px);
}

#translate5 {
  transform: translateX(600px) translateY(-250px);
}

.rotate-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.rotate-container div {
  background-color: lightsalmon;
  border: 1px solid lightpink;
}

.rotate-container > p {
  flex-basis: 100%;
  margin: 2rem 0 3rem 0;
}

#rotate1 {
  transform: rotate(25deg);
}

#rotate2 {
  transform: rotate(120deg);
}

#rotate3 {
  transform: rotate(75deg);
}

#rotate4 {
  transform: rotate(160deg);
}

#rotate5 {
  transform: rotate(320deg);
}

.scale-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.scale-container div {
  background-color: lightseagreen;
  border: 1px solid lightskyblue;
}

.scale-container > p {
  flex-basis: 100%;
  margin: 10rem 0 5rem 0;
}

#scale1 {
  transform: scale(2, 1.4);
}

#scale2 {
  transform: scale(0.8, 1.2);
}

#scale3 {
  transform: scaleX(1.4) scaleY(2);
}

#scale4 {
  transform: scale(1.1);
}

#scale5 {
  transform: scale(1.5, 1.5);
}
