@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");

body {
  background-color: #000000de;
  color: #fff;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 20px;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container div {
  width: 100px;
  height: 100px;
  display: flex;
  margin: 0 2rem;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

/* 2D CSS - TRANSLATE  */

.translate-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 400px;
  overflow: hidden;
}

.translate-container > p {
  flex-basis: 100%;
}

.translate-container div {
  background-color: yellowgreen;
  border: 1px solid lightgreen;
}

#translate1 {
  transform: translate(-90px, 45px);
}

#translate2 {
  transform: translate(-50px, -60px);
}

#translate3 {
  transform: translate(-10px, 50px);
}

#translate4 {
  transform: translateX(40px) translateY(-40px);
}

#translate5 {
  transform: translateX(80px) translateY(-100px);
}

/* 2D CSS - ROTATE */

.rotate-container {
  display: flex;
  height: 400px;
  justify-content: center;
  flex-wrap: wrap;
}

.rotate-container div {
  background-color: lightsalmon;
  border: 1px solid lightpink;
}

.rotate-container > p {
  flex-basis: 100%;
  margin: 8rem 0 3rem 0;
}

#rotate1 {
  transform: rotate(25deg);
}

#rotate2 {
  transform: rotate(120deg);
}

#rotate3 {
  transform: rotate(75deg);
}

#rotate4 {
  transform: rotate(160deg);
}

#rotate5 {
  transform: rotate(320deg);
}

/* 2D CSS - SCALE */

.scale-container {
  display: flex;
  height: 400px;
  justify-content: center;
  flex-wrap: wrap;
}

.scale-container div {
  background-color: lightseagreen;
  border: 1px solid lightskyblue;
}

.scale-container > p {
  flex-basis: 100%;
  margin: 10rem 0 5rem 0;
}

#scale1 {
  transform: scale(2, 1.4);
}

#scale2 {
  transform: scale(0.8, 1.2);
}

#scale3 {
  transform: scaleX(1.4) scaleY(2);
}

#scale4 {
  transform: scale(1.1);
}

#scale5 {
  transform: scale(1.5, 1.5);
}

/* 2D CSS - SKEW */

.skew-container {
  display: flex;
  height: 400px;
  justify-content: center;
  flex-wrap: wrap;
}

.skew-container > p {
  flex-basis: 100%;
  margin: 15rem 0 8rem 0;
}

.skew-container div {
  background-color: rgb(115, 168, 237);
  border: 1px solid rgba(77, 118, 162, 0.566);
}

#skew1 {
  transform: skew(-30deg);
}

#skew2 {
  transform: skew(30deg);
}

#skew3 {
  transform: skewX(30deg) skewY(-45deg);
}

#skew4 {
  transform: skew(-30deg);
}

#skew5 {
  transform: skew(30deg);
}

/* 2D CSS - MATRIX */

.matrix-container {
  display: flex;
  height: 400px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20rem;
}

.matrix-container > p {
  flex-basis: 100%;
  margin: 20rem 0 8rem 0;
}

.matrix-container div {
  background-color: rgb(154, 190, 80);
  border: 1px solid lightgreen;
}
#matrix1 {
  transform: matrix(1, 0, 0.5, 2, -30, -10);
}
#matrix2 {
  transform: matrix(1.3, 0.2, 0.5, 1.5, -30, 10);
}
#matrix3 {
  transform: matrix(1.9, 2, 1, 1, 0, 0);
}
#matrix4 {
  transform: matrix(1, 1, 0, -1, 10, 20);
}
#matrix5 {
  transform: matrix(1, -1, 0, 1, -50, 20);
}
